<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487806679668-can3kkgcgr0vouomgfoq3eal2pavbbhc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487806679668-can3kkgcgr0vouomgfoq3eal2pavbbhc</string>
	<key>API_KEY</key>
	<string>AIzaSyCGsdRgOuup828kBX8d6umKORX1HtXZyEM</string>
	<key>GCM_SENDER_ID</key>
	<string>487806679668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.borislav.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instaswiftui-6fe56</string>
	<key>STORAGE_BUCKET</key>
	<string>instaswiftui-6fe56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487806679668:ios:72645b367ffa1287a42f21</string>
</dict>
</plist>